<!DOCTYPE html>
<head>
  <title>Tune Town</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<html>
  <div>
    <main class="splasha">
      <div class="welcomec">
        <img class="splasha" src="../imgs/splash.jpg" alt="" />
        <h2 class="welcome">Welcome to Tune Town</h2>
        <p class="welcome" id="welcomep">
          Create an account, search for music, add that music to your profile,
          comment on other user's profiles.
        </p>
        <a href="/users/login" id="lwb">Login</a>
        <a href="/users/new" id="rwb">Sign up</a>
      </div>
    </main>
  </div>
</html>
