<!DOCTYPE html>
<head>
  <title>Tune Town</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<html>
  <main class="splasha">
    <div><h2 class="welcome">Welcome to Tune Town</h2></div>
  </main>
</html>
