<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <title>Tune Town</title>
  </head>
  
    <nav>
      <ul>
        <% if (user) { %>
        <!-- if the user is logged in -->
        
          <div class="mainhead">
            <div class="leftdiv">
              <p class="leftheader">
                <a href="/">
                <img id="logo" src="../imgs/idk2.png" />
                </a>
              </p>
              <p class="leftheader"><a href="/users/profile">Profile</a></p>
              <p class="leftheader"><a href="/users/logout">Logout</a></p>
              <p class="leftheader"><a href="/search">Search Artists</a></p>
              <p class="leftheader">
                <a href="/users/changepw">Change Password</a>
              </p>
            </div>
          </div>
        

        <% } else { %>
        <!-- if the user is not logged in -->
          <div class="mainhead">
            <div class="leftdiv">
              <p class="leftheader">
                <a href="/">
                <img id="logo" src="../imgs/idk2.png" />
                </a>
              </p>
              <p class="leftheader"><a href="/users/new">Sign up</a></p>
              <p class="leftheader"><a href="/users/login">Login</a></p>
              
             
            </div>
          </div>
     
        <%}%>
     
    </nav>

    <main class="laymain">
      
      <%- body %>
    </main>
  
</html>
