<form method="GET" action="/results">
  <lable for="search"></lable>
  <input type="text" id="search" name="musicSearch" />

  <input type="submit" />
</form>

<% music.forEach(musics => { %>
<div>
  <h3><%= musics.strArtist %></h3>
  <p><%= musics.strGenre %></p>
  <img src="<%= musics.strArtistThumb %>" alt="Artist Picture" />
  <form method="POST" action="music/add">
    <input hidden type="text" name="name" value="<%= musics.strArtist %>" />
    <button type="submit">Add to Profile</button>
  </form>

  <!-- <a href="/details/">Add to Catalog</a> -->
</div>

<% }) %> <% %>
