<!DOCTYPE html>
<head>
  <title>Tune Town</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<html>
  <h2>User Profile</h2>

  <h3><%= user.email %>'s Profile!</h3>

  <ul>
    <% allMusic.forEach(allFaves => { %>

    <li><%= allFaves.artist %></li>
    <%})%>
  </ul>
  <form action="/comment/add" method="POST">
    <input type="text" name="comment" />
    <button type="submit">Comment</button>
  </form>

  <ul>
    <% allComments.forEach(allCs => { %>

    <li class="comments">
      <%= allCs.content %>
      <form action="/comment/delete?_method=DELETE" method="POST">
        <input name="deletepls" hidden type="text" value="<%= allCs.id %>" />
        <input class="submitBtn" type="submit" value="Delete Comment" />
      </form>
    </li>
    <%})%>
  </ul>
</html>
